$main-color: #000000;
$main-size:53px;
$main-weight:bold;
$main-font: "Open Sans";
$border-color:#e7e7e7;
$main-green: #63d1bb;
$main-gray: #444444;
$footer-gray: #f1f1f1;
$tablet-width:768px;
$mobile-width:320px;

.button {
    border: 1px solid $main-gray;
    background-color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    font-family: $main-font;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        background-color: $main-gray;
        color:  #ffffff;
        transition: 0.5s;
    }
    &:active {
        background-color: $main-gray;
        color: #7c7c7c;
        transition: 0.1s;
    }
}
.advantages__title {
    display: inline;
    font-weight: $main-weight;
    font-size: $main-size;
    color:$main-color;
    font-family: $main-font;
}


/*Коротко о нас*/

.advantages {
    margin-top: 165px;
}

.advantages__wrapper {
    max-width: 1050px;
    margin: 0 auto ;
}
  

.advantages__small-wrap {
    max-width: 875px;
    box-sizing: border-box;
    margin-left: 175px;
}

    

.advantages__list {
    list-style: none;
    margin-top: 40px;
    max-width: 900px;
}
 
.advantages__item {
    display: inline-block;
    margin-right: 100px;
    max-width: 300px;
    margin-bottom: 60px;
    font-family: $main-font;
}
   
.advantages__text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: $main-weight;
}
 @media (max-width: $tablet-width) {
    .advantages__wrapper {
        max-width: 668px;
        margin: 0 auto;
    }
    .advantages__small-wrap {
        max-width: 100%;
        box-sizing: border-box;
        margin-left: 0;
    }
    .advantages__item {
        
        margin-right: 30px;
        max-width: 300px;
        margin-bottom: 60px;
        font-family: $main-font;
    }
}

@media (max-width: $mobile-width) {
    .advantages__title {
        font-size: 25px;
        line-height: 30px;
    }
}
