$main-color: #000000;
$main-size:53px;
$main-weight:bold;
$main-font: "Open Sans";
$border-color:#e7e7e7;
$main-green: #63d1bb;
$main-gray: #444444;
$footer-gray: #f1f1f1;
$tablet-width:768px;
$mobile-width:320px;
$mobile-fsize:17px;

.header__menu-mobile {
    display: none;
}
.button {
    border: 1px solid $main-gray;
    background-color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    font-family: $main-font;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        background-color: $main-gray;
        color:  #ffffff;
        transition: 0.5s;
    }
    &:active {
        background-color: $main-gray;
        color: #7c7c7c;
        transition: 0.1s;
    }
}


.intro {
    background-color: $footer-gray;
}
.intro__wrapper {
    max-width: 1050px;
    margin: 0 auto;
    box-sizing: border-box;
}

.catalog__wrapper {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.catalog__products-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}
.catalog__title {
    font-weight: $main-weight;
    font-size: 27px;
    color:$main-color;
    font-family: $main-font;
    padding-top: 76px;
    padding-bottom:81px;
    text-align: center;
} 

.product-item {
    width: 81.25%; /*примерно 30% для десктопа*/
    margin-top: 30px;
   
    border: 1px solid $border-color;
}
.product-item__link {
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}
.product-item__photo {
    max-width: 100%;
}
.product-item__name {
    font-weight: $main-weight;
    font-size: $mobile-fsize;
    color:$main-color;
    font-family: $main-font;
    padding-left: 9.37%;
    padding-right: 9.37%;
    margin-top: 30px;
    margin-bottom: 17px;
}
.product-item__char {
    font-size: 13px;
    color:$main-gray;
    font-family: $main-font;
    margin-left: 9.37%;
    margin-right: 9.37%;
    padding-bottom: 17px;
    width: 81.25%;
    border-bottom: 1px solid $border-color;
}
.product-item__price {
    font-weight: $main-weight;
    font-size: 15px;
    color:$main-color;
    font-family: $main-font;
    padding-left: 9.37%;
    padding-right: 9.37%;
    margin-top: 29px;
    margin-bottom: 29px;
    display: inline-flex;
}
.product-item__buy {
    display: inline-flex;
    background-image: url("../img/cart.svg.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: none;
    background-color:#ffffff;
    vertical-align: middle;
    margin-left: 36%;

}



