$main-color: #000000;
$main-size:53px;
$main-weight:bold;
$main-font: "Open Sans";
$border-color:#e7e7e7;
$main-green: #63d1bb;
$main-gray: #444444;
$footer-gray: #f1f1f1;
$tablet-width:768px;
$mobile-width:320px;

.button {
    border: 1px solid $main-gray;
    background-color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    font-family: $main-font;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        background-color: $main-gray;
        color:  #ffffff;
        transition: 0.5s;
    }
    &:active {
        background-color: $main-gray;
        color: #7c7c7c;
        transition: 0.1s;
    }
}
.section-title {
    display: inline;
    font-weight: $main-weight;
    font-size: $main-size;
    color:$main-color;
    font-family: $main-font;
}

/* Footer */

.footer {
    background-color: $footer-gray;
}
.footer__wrapper {
    max-width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer__index-link {
    background-image: url("../img/logo-footer.png");
    min-width: 103px;
    min-height: 35px;
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../img/footer/logo-footer-hover.png");
        transition: 0.5s;
    }
    &:active {
        background-image: url("../img/footer/logo-footer-active.png");
    }
}
.socials {
    list-style-type: none;
    display: inline-flex;
    min-width: 145px;
    justify-content: space-between;
    align-items: flex-end;
}
.socials__icon {
    &--IG{
        background-image: url("../img/insta.png");
        background-repeat: no-repeat;
        min-width: 25px;
        min-height: 25px;
    }
    &--FB {
        background-image: url("../img/fb.png");
        background-repeat: no-repeat;
        min-width: 20px;
        min-height: 29px;
    }
    &--TW {
        background-image: url("../img/twitter.png");
        background-repeat: no-repeat;
        min-width: 25px;
        min-height: 25px;
    }
    &--IG:hover {
        cursor: pointer;
        background-image: url("../img/footer/insta-hover.png");
        transition: 0.5s;
    }
    &--IG:active {
        opacity: 0.3;
    }
    &--FB:hover {
        cursor: pointer;
        background-image: url("../img/footer/fb-hover.png");
        transition: 0.5s;
    }
    &--FB:active {
        opacity: 0.3;
    }
    &--TW:hover {
        cursor: pointer;
        background-image: url("../img/footer/twitter-hover.png");
        transition: 0.5s;
    }
    &--TW:active {
        opacity: 0.3;
    }
}

.footer__copyright {
font-family: $main-font;
font-weight: $main-weight;
text-decoration: none;
color: #000000;
position: relative;
max-width: 182px;
box-sizing: border-box;
margin-right: 60px;

&::after {
    content: url("../img/htmlacademy.png");
    min-width: 27px;
    min-height: 35px;
    background-repeat: no-repeat;
    position: absolute;
    right: -50%;
}
&:hover::after {
    content: url("../img/footer/htmlacademy-hover.png");
}
&:active {
    opacity: 0.3;
    transition: 0.5s;
}
}

$tablet-width: 768px;
@media ( max-width: $tablet-width ){
.footer {
    width: 100%;
}
.footer__wrapper {
    width: 87%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer__copyright {
    margin: 0;
    position: static;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
&::after {
    position: relative;
    right: -7%;
    bottom: -15%;
}
}
.socials {
align-items: flex-end;
margin-bottom: 30px;
}
.footer__index-link {
margin-bottom: 30px;
align-items: flex-end;
}

}

$mobile-width: 320px;
@media (max-width: $mobile-width){
    .footer__wrapper {
        max-width: 260px;
        display: block;
        margin: 0 auto;
        padding-top: 0;
    }
    .footer__index-link {
        display: none;
    }
    .socials  {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        border-bottom: 1px solid $border-color;
        justify-content: space-evenly;
    }
    .footer__copyright {
        display: block;
        align-items: baseline;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        &::after {
            right: -23px;
             top: 13px;
        }
    }

}