$main-color: #000000;
$main-size:53px;
$main-weight:bold;
$main-font: "Open Sans";
$border-color:#e7e7e7;
$main-green: #63d1bb;
$main-gray: #444444;
$footer-gray: #f1f1f1;
$tablet-width:768px;
$mobile-width:320px;

.button {
    border: 1px solid $main-gray;
    background-color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    font-family: $main-font;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        background-color: $main-gray;
        color:  #ffffff;
        transition: 0.5s;
    }
    &:active {
        background-color: $main-gray;
        color: #7c7c7c;
        transition: 0.1s;
    }
}
.section-title {
    display: inline;
    font-weight: $main-weight;
    font-size: $main-size;
    color:$main-color;
    font-family: $main-font;
}

/* Заглавный блок*/
.hero__wrapper {
    max-width: 1050px;
    margin: 0 auto;
    box-sizing: border-box;
}
   
.hero {
    position: relative;
    background-color: #f9f9f9;
    background-image: url("../img/hero-desktop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}
    

.hero-nav__list {
    padding-left: 0%;
    display: flex;
    align-items: center;
    max-width: 87%;
   margin: 0 auto;
}
    
.site-list__item {
    &--bottom {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 700;
    list-style-type: none;
    padding-right: 50px;
    font-family: $main-font;
    flex-grow: 1;
    }

    &--bottom-delivery {
    font-size: 15px;
    margin-top: 10px;
    font-weight: normal;
    list-style-type: none;
    color: $main-gray;
    font-family: $main-font;
    flex-grow: 2;
    text-align: end;

    }   
}
   


.hero__title {
    padding-top: 70px;
    font-size: 53px;
    font-family: 'Open Sans';
    text-align: center;
}
  
      
.hero__list {
    box-sizing: border-box;
    position: relative;
    padding-left: 0;
    display: flex;
    list-style: none;
    margin-top: 350px;
    &::after {
        position: absolute;
        bottom: -10%;
        content: url("../img/zigzag-fill-desktop.svg.png");
        overflow-x: hidden;
        max-width: 100%;
    } 
       
}
    

.hero__link {  
    text-decoration: none;
    color:#ffffff;
    font-size: 20px;
    font-family: 'Open Sans';
    text-align: center;
}
  

%specials-hero-item {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding:33px;
}

.hero__item--interior {
    @extend %specials-hero-item;
    background-color: $main-green;
    &::after {
        content: url("../img/interior.svg.png");
    }  
    &:active {
        &::after{
            opacity: 0.3;
            transition: 0.3s
        }
    }
}
    

.hero__item--toys {
    @extend %specials-hero-item;
    background-color: #56c3b2;
    &::after {
        content: url("../img/toy-svg.png");
    }
    &:active {
        &::after{
            opacity: 0.3;
            transition: 0.3s
        }
    }
}
   
.hero__link {
    &:hover {
        transform: translateY(-7px);
        transition: 0.5s;
    }
    &:active {
        .hero__link--text{
        opacity: 0.3;
        transition: 0.3s}
    }
}


@media ( max-width: $tablet-width ){
    .hero {
        width: 100%;
    }
    .hero__wrapper{
    max-width: 100%;
    
    }
    
.hero__title {
    font-size: 43px;
}

   
.hero-nav__list {
 //   max-width: 100%;
    flex-wrap: wrap;
justify-content: center;


}

    
.hero__list {
    max-width: 100%;

    &::after { 
        max-width: 100%;}     
}
.hero__item{
    &--interior {
        width: 50%;
        padding: 4.2%;
    }
    &--toys {
        width: 50%;
        padding: 4.2%;
    }
}    
.site-list__item { 
    &--bottom {
    margin-right: 10px;
    padding-right: 0;
    } 
    &--bottom-delivery{
    padding-left: 0px;
    padding-right: 0;
    }
    &--basket {
        padding-right: 0;
    font-size: 15px;
    }
}

}

$mobile-width: 320px;
@media (max-width: $mobile-width) {
    .hero {
        background-size: cover;
        height: auto;
        width: 100%;
    }
   
    .hero__title {
        font-size: 27px;
        line-height: 30px;
        margin-top:0px;
        padding-top: 110px;
    }
    .hero-nav__list {
        display: none;
      
    }
    .hero__list {
        
        display: block;
        max-width: $mobile-width;
        top: 120px;
        &::after {
            display: none;
        }
    }

    .hero__item {
        &--interior{
            width: 100%;
        }
        &--toys {
            width: 100%;
        }
    }
    .hero__link {
        max-height: 103px;
    }
}