$main-color: #000000;
$main-size:53px;
$main-weight:bold;
$main-font: "Open Sans";
$border-color:#e7e7e7;
$main-green: #63d1bb;
$main-gray: #444444;
$footer-gray: #f1f1f1;
$tablet-width:768px;
$mobile-width:320px;
$mobile-fsize:17px;


.header__menu-mobile {
    display: none;
}
.button {
    border: 1px solid $main-gray;
    background-color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    font-family: $main-font;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        background-color: $main-gray;
        color:  #ffffff;
        transition: 0.5s;
    }
    &:active {
        background-color: $main-gray;
        color: #7c7c7c;
        transition: 0.1s;
    }
}

%label-text {
    font-size: 17px;
    color: #000000;
    font-weight: bold;
    font-family:$main-font;
    line-height: 40px;
}

.order-form {
    width: 100%;
}
.order-form__wrapper {
  width:81.25%;
  margin: 0 auto;
}

.order-form__intro {
    display: block;
    margin-top: 20px;
    font-family: $main-font;
    color: $main-gray;
    font-size: 13px;
}
.order-form__inner {
    width:81.25%;
  margin: 0 auto;
}
.order-form__title {
    display: inline-flex;
    font-family: $main-font;
    font-size: 17px;
    font-weight: bold;
    color: $main-green;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 25px;
    align-items: center;
    &--tel {
        display: inline-flex;
        font-family: $main-font;
        font-size: 17px;
        font-weight: bold;
        color: $main-green;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 25px;
        align-items: center;  
    }
    &--mail {
        display: inline-flex;
        font-family: $main-font;
        font-size: 17px;
        font-weight: bold;
        color: $main-green;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 25px;
        align-items: center;
    }
    &--ext {
        display: inline-flex;
        font-family: $main-font;
        font-size: 17px;
        font-weight: bold;
        color: $main-green;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 25px;
        align-items: center;
    }
    &::after {
        content: "";
        background-image: url("../img/form/mobile/titleline.png");
       width: 180px;
       height: 2px;
       background-position: center;
       background-repeat: no-repeat;
       display: inline;
       margin-left: 25px;
    }
}

.order-form__name-label {
    &--name {
        display: block;
        @extend %label-text;
    };
    &--surname {
        display: block;
        @extend %label-text;
    }
    &--sec-name {
        display: block;
        @extend %label-text;
    };
}


/* Тип изделия*/

.order-form__type-label{
    &--inter {
        display: block;
        padding-left: 58px;
        @extend %label-text;
        margin-bottom: 20px;
    }
    &--toys {
        display: block;
    padding-left: 58px;
    @extend %label-text;
    margin-bottom: 20px;
    }
    
}
.order-form__type-input {
    appearance: none;
    position: absolute;
    -webkit-appearance: none; 
    &:checked + .order-form__type-radio {
        background-image: url("../img/form/mobile/point.png");
        background-color: #fff;
        background-position: center center;
        background-size: 44% auto;
        background-repeat: no-repeat   
    }
    &:hover +.order-form__type-radio {
        border: 1px solid $main-green;
    }
    &:active +.order-form__type-radio {
        border-color: $border-color;
    }
}

.order-form__type-radio {
    position: absolute;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid $main-gray;
        border-radius: 50%;
        margin-left: -58px;
}

/*Цвет изделия*/

.order-form__color-label{
    display: block;
    padding-left: 58px;
    @extend %label-text;
    margin-bottom: 20px;
}

.order-form__color-checkbox{
    position: absolute;
        width: 40px;
        height: 40px ;
        box-sizing: border-box;
        border: 1px solid $main-gray;
        margin-left: -58px;
    }

.order-form__color-input {
    appearance: none;
    position: absolute;
    -webkit-appearance: none;
    &:checked + .order-form__color-checkbox {
        background-image: url("../img/form/mobile/tick.png");
        background-color: #fff;
        background-position: center;
        background-size: 75% auto;
        background-repeat: no-repeat;
    }
    &:hover + .order-form__color-checkbox {
        border-color: $main-green;
    }

    &:active + .order-form__color-checkbox  {
        border-color: $border-color;
    }
}

/* ФИО*/

%text-input {
    display: block;
    border: none;
    border-bottom: 2px solid black;
    line-height: 35px;
    font-family: 'Open Sans';
    font-size: 17px;
    width: 100%;
}


.order-form__name-input {
  @extend %text-input ; 
}

/* Контакты*/
.order-form__contacts-input {
    &--tel {
    @extend %text-input ;
    background-image: url("../img/form/mobile/phone.png");
    background-position: right;
    background-repeat: no-repeat;
    }
    &--mail {
    @extend %text-input ;
    background-image: url("../img/form/mobile/mail.png");
    background-position: right;
    background-repeat: no-repeat;
    }
}




.order-form__ext-input {
    margin-top: 20px;
    width: 100%;
    font-family: $main-font;
    font-size: 17px;
    resize:none;
    border: 1px solid $border-color;
    
}

.order-form__notice {
    font-size: 14px;
    line-height: 16px;
    font-family:$main-font;
    margin-top: 18px;
    margin-bottom: 30px;
    text-align: center;
}
.form-button {
    width: 100%;
    margin-bottom: 55px;
}

@media (min-width:768px) {
    .order-form__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .order-form__intro {
        font-size: 17px;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    .order-form__title::after {
        display: none;
    }
    .order-form__inner {
        width: auto;
    }

    /* Тип товара tablet*/
    .order-form__type-part {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;  
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 9.375%;
        padding-left: 9.375%;
    }
    .order-form__type-part .order-form__title {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        align-items: flex-start;
    }
    .order-form__type-label {
        &--inter {
            font-size: 19px;
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 5;
        }
        &--toys {
            font-size: 19px;
            grid-column-start: 2;
            grid-column-end: 5;
        }
        
        
    }

    /* Цвет товара tablet*/

    .order-form__color-part {
        background-color: #f1f1f1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 9.375%;
        padding-left: 9.375%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 132px;
    }

    .order-form__color-label {
        font-size: 19px;
    }
    .order-form__color-part .order-form__title {
       grid-row-start: 1;
       grid-row-end: 4;
       margin: 0;
        align-items: flex-start;
   } 

   .order-form__color-input:checked +.order-form__color-checkbox {
       background-color: #f1f1f1;
   }

  

   /* ФИО tablet */
   .order-form__name-part {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 9.375%;
        padding-left: 9.375%;
   }
   .order-form__name-part .order-form__title {
       align-items: flex-start;
       grid-column-start: 1;
       grid-column-end: 2;
       grid-row-start: 1;
       grid-row-end: 4;
   }
   .order-form__name-label {
        &--name {
        font-size:19px ;
        grid-column-start: 2;
        grid-column-end: 5; 
    }
        &--surname {
        font-size: 19px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 5;
        }
        &--sec-name {
        font-size: 19px;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 5;
        }
   }
   .order-form__name-input {
       font-size: 19px;
   }
   
  /*  Контакты tablet*/

   .order-form__contacts-part {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       padding-top: 50px;
        padding-bottom: 50px;
        background-color: #f1f1f1;
        padding-right: 9.375%;
        padding-left: 9.375%;
   }
   .order-form__title--mail {
       grid-column-start: 1;
       grid-column-end: 2;
       grid-row-start: 2;
       grid-row-end: 3;
   }
   .order-form__contacts-input {
       &--tel {
        background-color: #f1f1f1;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 5;
        font-size: 19px;
        }
        &--mail {
        background-color: #f1f1f1;
        grid-column-start: 2;
        grid-column-end: 5; 
        font-size: 19px;
        }
   }

   /* Доп tablet*/
   .order-form {
       margin-top: 80px;
   }
   .order-form__ext-part {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       padding-top: 50px;
       padding-bottom: 50px;
       row-gap: 53px;
       padding-right: 9.375%;
     padding-left: 9.375%;
   }
   .order-form__title--ext {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: flex-start;
   }

   .form-button {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 230px;
    box-sizing: border-box;
    }
    .order-form__notice {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    text-align: end;
    font-size: 17px;
    }
    .order-form__ext-input {
        grid-column-end: 5;
        grid-column-start: 2;
    }
    .order-form__ext-input::placeholder{
        font-size: 19px;
        padding-top: 20px;
        padding-left: 20px;
    }
}

@media (min-width:1150px)  {
    .order-form {
        margin-top: 130px;
    }
  
    
    .order-form__color-part {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .form-button {
        grid-column-start: 2;
        grid-column-end: 3; 
    }
}