$main-color: #000000;
$main-size:53px;
$main-weight:bold;
$main-font: "Open Sans";
$border-color:#e7e7e7;
$main-green: #63d1bb;
$main-gray: #444444;
$footer-gray: #f1f1f1;
$tablet-width:768px;
$mobile-width:320px;

.header__menu-mobile {
    display: none;
}
.button {
    border: 1px solid $main-gray;
    background-color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    font-family: $main-font;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        background-color: $main-gray;
        color:  #ffffff;
        transition: 0.5s;
    }
    &:active {
        background-color: $main-gray;
        color: #7c7c7c;
        transition: 0.1s;
    }
}
.section-title {
    display: inline;
    font-weight: $main-weight;
    font-size: $main-size;
    color:$main-color;
    font-family: $main-font;
}

%specials-header-separ{
    list-style-type: none;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: inset -1px 0 0 0  $border-color;
}

/*Шапка*/

.header__wrapper {
    max-width: 1050px;
    margin: 0 auto;
}
.border-wrap {
    box-sizing: border-box;
    max-width: 1150px;
    margin: 0 auto;
    border-bottom:1px solid $border-color;
}
.page-header {
    background-color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    font-family: $main-font;
    & a { 
        text-decoration: none;
        color: #000000;
    } 
}

.nav__list {
    padding-left: 0%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}   
.site-list__item  {
    list-style-type: none;
    height: 70px;
    display: flex;
    align-items: center;
    &--index {
    list-style-type: none;
    height: 70px;
    display: flex;
    align-items: center;
    }
    &--basket {
        list-style-type: none;
        height: 70px;
        align-items: center;
        padding-right: 45px;
        padding-left: 45px;
        display: flex;
        align-items: center;
        box-shadow: inset 1px 0 0 0  $border-color;
        &::after {
            content: "Корзина: пока пуста";
            position: relative;
            left: 20%;
        }
    }
    &--search  {
        list-style-type: none;
        height: 70px;
        display: flex;
        align-items: center;
        padding-right: 10px;
        padding-left: 45px;
        align-items: center;
        box-shadow: inset 1px 0 0 0  $border-color;
    }
    &--catalog {
        @extend %specials-header-separ;
        padding-right: 20px;
    }   
}


.nav__item {
    text-decoration: none;
    color: #000000;
&:hover {
    opacity: 0.66;
    transition: 0.9s;
}
&:active {
    opacity: 0.3;
    }
    &--basket {
        list-style-type: none;
        background-image: url("../img/cart.svg.png");
        background-repeat: no-repeat;
        width: 21px;
        height: 18px;
    }
    &--basket:hover {
        background-image: url("../img/cart-hover.png");
        transition: 0.9s;
    }
    &--basket:active {
        opacity: 0.3;
    }
    &--search {
        list-style-type: none;
        background-repeat: no-repeat;
        background-image: url("../img/search.svg.png");
        width: 21px;
        height: 18px; 
    } 
    &--search:hover {
        background-image: url("../img/search-hover.png");
        transition: 0.9s;
    } 
    &--search:active {
        opacity: 0.3;
    }  
    &--index {
        width: 149px;
        height: 72px;
        background-image: url("../img/mishka-logo-desktop.png");
        background-repeat: no-repeat;
        margin-left: 19px;  
    }
    &--index:hover {
    opacity: 0.6;        
    transition: 0.5s;
    }
    &--index:active {
    opacity: 0.3;
    }

}
.burger {
    display: none;
}
.burger--open {
    display: none;
}

@media (max-width: $tablet-width) {
    .page-header {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid $border-color;
    }
    .border-wrap {
        width: 87%;
        padding-left: 6.5%;
        padding-right: 6.5%;
        margin: 0%;
    }
    .header__wrapper {
       width: 87%;
       margin: 0;
    }
    .burger {
        display: none;
    }
    .burger--open {
        display: none;
    }
   .nav {
       width: 87%;
       margin: 0;
   }
    .nav__list {
        display: flex;
        justify-content: space-between;
        width: 80%;
        
    }

    .site-list__item {
        &--catalog{
        display: none;
    }
        &--index {
            width: 42%;
        }
        &--search {
            margin-left: 45%;
            width: 24%;
            padding-left: 10%;
        }
        &--basket {
            padding-left: 10%;
          
        }
    }
    .hidden {
        display: none;
    }
    .nav__item{
        &--index {
            background-image: url("../img/mishka-logo-tablet.png");
            height: 46px;
            align-items: center;
            margin-left: 0;
        } 
        &--basket {
            width: 40px;
            display: flex;
            justify-content: space-between;
        }
    }
    
  
    .section-title{
        font-size: 43px;
    }     
}


$mobile-width: 320px;
@media (max-width: $mobile-width){  
   
    .page-header {
        width: 100%;
    }
    .border-wrap {
        width: 100%;
    }
    .header__wrapper {
        width: 100%;
    }

    .nav {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        min-height: 50px;
        align-items: center;
        
        &--closed {
            display: none;
        }
    }
   
    .burger {
        display: flex;
        background-image: url('../img/mobile/burger.png');
        width: 20px;
        height: 14px;
        background-repeat: no-repeat;
        border: none;
        background-color: #ffffff;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        &--open {
            display: flex;
        }
        
    }
    .burger--close  {
        display: flex;
        background-image: url('../img/mobile/menu-close.png');
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        border: none;
        background-color: #ffffff;
        position: absolute;
        left: 76%;
        top: 5.5%;
    }

    .nav__list {
    flex-direction: column;
    text-align: center; 
    width: 100%;
    align-items: center; 
     
    }
    .site-list__item {
        font-size: 17px;
        display: flex;  
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid $border-color;

    &--index {
        order: -1;  
        border-bottom: 1px solid $border-color;
        width: 100%;
        justify-content: center;
    }
    &--catalog {
        width: 100%;
        justify-content: center;
        font-size: 17px;
        display: flex;
        box-shadow: none;
        padding: 0;
        border-bottom: 1px solid $border-color;

    }
    &--search {
        box-shadow: none;
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: center;
        border-bottom: 1px solid $border-color;
        margin: auto;
        &::after {
            content: "Поиск по сайту";
            font-size: 17px;
        }
    }

    &--basket {
        box-shadow: none;
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0;
            &::after {
            display: contents;
            content: "Корзина: пока пуста";
            font-size: 17px;
        }
    }

}
  

    .nav__item{
        &--index {
        width: 86px;
        display: flex;
        background-image: url("../img/mobile/mishka-logo-mobile.png");
        }
        &--basket {
            width: 28px;
        }
        &--test {
        box-sizing: border-box;
        background-image: url("../img/mobile/mishka-logo-mobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 73px;
        height: 35px;
        margin-right: 30%;  
        }
    } 
    .not-seen{
        display: none;
    } 
}