$main-color: #000000;
$main-size:53px;
$main-weight:bold;
$main-font: "Open Sans";
$border-color:#e7e7e7;
$main-green: #63d1bb;
$main-gray: #444444;
$footer-gray: #f1f1f1;
$tablet-width:768px;
$mobile-width:320px;
$mobile-fsize:17px;

.header__menu-mobile {
    display: none;
}
.button {
    border: 1px solid $main-gray;
    background-color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    font-family: $main-font;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background-color: $main-gray;
        color:  #ffffff;
        transition: 0.5s;
    }
    &:active {
        background-color: $main-gray;
        color: #7c7c7c;
        transition: 0.1s;
    }
}

.production{
    margin-bottom: 58px;
}

.production__wrapper {
    max-width: 81.25%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid $border-color;
    margin-top: 30px;
}

.production__title {
    font-weight: $main-weight;
    font-size: $mobile-fsize;
    color:$main-color;
    font-family: $main-font;
    margin-top: 28px;
    display: flex;
    margin-left: 9.37%;
    line-height: 24px;
    margin-bottom: 26px;
    &::before {
        content: url('../img/catalog/video.png');
        padding-right: 25px;
        padding-top: 7px;
    }
}
.production__video {
    background-image: url('../img/catalog/mobile/video.png') ;
    background-repeat: no-repeat;
    background-size:contain;
    min-height: 149px;
    position: relative;
    &::after {
        content:url('../img/catalog/play.png');
        position: absolute;
        right: 30%;
        bottom: 24%;
    }
}
.production__description {
    font-size: 13px;
    color:$main-gray;
    font-family: $main-font;
    line-height: 24px;
    padding-left: 9.37%;
    padding-right: 9.37%;
    margin-bottom: 29px;
}

.production__button {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 29px;
    color: $main-gray;
}