$main-color: #000000;
$main-size:53px;
$main-weight:bold;
$main-font: "Open Sans";
$border-color:#e7e7e7;
$main-green: #63d1bb;
$main-gray: #444444;
$footer-gray: #f1f1f1;
$tablet-width:768px;
$mobile-width:320px;


.reviews {
    display: flex;
}
 .reviews__title {
    font-weight: $main-weight;
    font-size: $main-size;
    color:$main-color;
    font-family: $main-font;
 }   
.reviews__wrapper {
    position: relative;
    font-family: $main-font;
    max-width: 1050px;
    margin: 0 auto;
    background-image: url("../img/review.png");
    background-position: left;
    background-repeat: no-repeat;
    &::after {
        content: url("../img/zigzag-line-desktop.svg.png");
        position: absolute;
        bottom: -90px;
        max-width: 100%;
    }
       
}
    
.review__small-wrap {
    max-width: 875px;
    box-sizing: border-box;
    margin-left: 175px;
}
  
.review__content {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}
  
.review__text {
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 17px;
    line-height: 30px;
    color: $main-gray;
}
  
.review__author {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
}

.review__nickname {
    font-size: 17px;
    line-height: 30px;
    color: $main-gray;
}

.review__btn {
    max-width: 175px;
    padding-left: 40px;
    padding-right: 40px;
}

.review__toggle {
    max-width: 175px;
    display: inline-flex;
    justify-content: space-between;
}

.review__prev {
    border: none;
    background-color: #ffffff;
    min-height: 26px;
    min-width: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/arrow-left.png);
    margin-right: 18.5px;
    &:hover {
        cursor: pointer;
        opacity: 0.6;
        transition: 0.5s;
    }
    &:active {
    opacity: 0.3;   
    }
}

.review__next {
    border: none;
    background-color: #ffffff;
    min-height: 26px;
    min-width: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/arrow-right.png);
    margin-left: 18.5px;
    &:hover {
        cursor: pointer;
        opacity: 0.6;;
        transition: 0.5s;
    }
    &:active {
        opacity: 0.3;
    }
}

.reviews__choice {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

@media ( max-width: $tablet-width ) {
    .reviews__wrapper {
        max-width: 668px;
        margin: 0 auto;
        &::after {
            max-width: 100%;
            bottom: -4%;
            overflow-x: hidden;
        }       
    }
    .review__small-wrap {
        max-width: 668px;
        margin: 0 auto;
    }
}
@media (max-width: $mobile-width) {
    .reviews__wrapper {
        max-width: 260px;
        position: relative;
        background-image: none;
        &::after {
            content: url("../img/mobile/zigzag-line-mobi.png");
            bottom: -45px;
        }
    }
    .review__content {
        display: block;
        padding-top: 25px;

    }
    .review__btn {
        position: absolute;
        bottom: 0;
        left: 0%;
        min-width: 100%;
    }
   .reviews__choice {
       display: block;
   }
   .reviews__title {
    font-size: 25px;
    line-height: 30px;
   }
   .review__text {
    padding-top: 37px;
    padding-bottom: 40px;
   }
   .review__author {
       margin-bottom: 17px;
       line-height: 24px;
   }
   .review__nickname {
       margin-bottom: 37px;
       line-height: 24px;
   }
   .review__toggle {
       min-width: 260px;
   }
   .review__prev {
       box-sizing: border-box;
       min-width: 50%;
       border: 1px solid $border-color;
       padding-left: 12px;
       padding-right: 12px;
       height: 52px;
       margin-right: 0;
       background-position: center;
       

   }
   .review__next {
    box-sizing: border-box;
    min-width: 50%;
    border: 1px solid $border-color;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0;
    background-position: center;
   }
}