$main-color: #000000;
$main-size:53px;
$main-weight:bold;
$main-font: "Open Sans";
$border-color:#e7e7e7;
$main-green: #63d1bb;
$main-gray: #444444;
$footer-gray: #f1f1f1;
$tablet-width:768px;
$mobile-width:320px;

.button {
    border: 1px solid $main-gray;
    background-color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    font-family: $main-font;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        background-color: $main-gray;
        color:  #ffffff;
        transition: 0.5s;
    }
    &:active {
        background-color: $main-gray;
        color: #7c7c7c;
        transition: 0.1s;
    }
}
.section-title {
    display: inline;
    font-weight: $main-weight;
    font-size: $main-size;
    color:$main-color;
    font-family: $main-font;
}


/*Товар недели*/
.week-product {
    margin-top: 50px;
}
 
        
.week-product__wrapper {
    max-width: 1050px;
    margin: 0 auto;
    position: relative;
    height: 631px;
    &::after {
        content: url("../img/zigzag-line-desktop.svg.png");
        position: absolute;
        left: 0;
        max-width: 100%;
        bottom: -110px;
        overflow-x: hidden;
    }     
}
.section-title-main {
    display: inline-flex;
    align-items: center;
    z-index: 1;

}  
.week-product__small-wrap {
    max-width: 875px;
    margin-left: 175px;
    box-sizing: border-box;
}
    
    
.section-title--week-prod {
    display: inline;
    box-sizing: border-box;
    min-width: 175px;
    text-align: center;
    text-transform: uppercase;
    font-family: $main-font;
    font-size: 17px;
    line-height: 16px;
    color: $main-green;
    vertical-align: top;
    padding: 21px;
    z-index: 1;
    
}
  

.week-product__info {
    max-width: 700px;
 //   display: inline-block;
    position: relative;
    font-family: $main-font;
    box-sizing: border-box;
    z-index: 1;
}
    
    
        
.week-product__name{
    display: inline;
    position: inherit;
    font-size: $main-size;
    font-family: $main-font;
    font-weight: $main-weight;
    z-index: 2;
    position: relative;

}
    

.week-product__description {
    font-family: $main-font;
    max-width: 300px;
    font-size: 17px;
    line-height: 30px;
    color: $main-gray;
    margin-top: 60px;
    margin-bottom: 60px;
}
  

.week-product__char {
    line-height: 39px;
    max-width: 300px;
    border-bottom: 1px solid $border-color;
}
 

.week-product__desc{
    display: inline-block;
    width: 98px;
}

 
.week-product__price {
  //  margin-top: 110px;
    color: $main-gray;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    font-family: $main-font;
    position: absolute;
    top: 474px;
}
    

.week-product__button {
    margin-top: 45px;
    width: 300px;
    position: absolute;
    left: 17%;
    top: 505px;
}
 

.week-product__img {
    position: relative;
    left: calc(100% - 50%);
    z-index: 0;
    bottom: 386px;
    width: calc(100% - 50%);

}
  
@media ( max-width: $tablet-width ) {
.week-product {
    width: 100%;
}
.week-product__wrapper {
    width: 87%;
    &::after {
        max-width: 100%;
        overflow-x: hidden;
}}
.week-product__small-wrap {
    max-width: 87%;
    margin-left: 0px;
}
.week-product__name{
    font-size: 43px;
    order: 1;
}
.section-title-main {
    width: 100%;
    justify-content: space-between;
}
.section-title--week-prod {
    order: 2;
    max-width: 22.8%;
    min-width: 10px;
    padding: 2.7%;
}
.week-product__img {
  position: absolute;
    max-width: 50%;
    left: 50%;
    top: 25%;
}

.week-product__info {
    max-width: 50%;
    max-height: 415px;
    box-sizing: border-box;
    margin-top: 50px;
}
.week-product__description {
    margin-top: 0px;
    margin-bottom: 34px;
}
.week-product__price {
     margin-top: 114px;
    position: static;
    width: 50%;
}
.week-product__button {
  
    width: 50%;
    position: static;
}
}
$mobile-width: 320px;
@media (max-width: $mobile-width) {
    .week-product {
        margin-top: 150px;
        max-width: $mobile-width;
        
    }
    .week-product__wrapper {
        max-width: 260px;
        min-height: 1000px;
        &::after {
            max-width: 100%;
            overflow-x: hidden;
            content: url("../img/mobile/zigzag-line-mobi.png");
            bottom: -70px;
        }
    }
    .section-title-main {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    .week-product__name {
        font-size: 25px;
        line-height: 30px;
        order: 1;
        margin-top: 33px;

    }
    .section-title--week-prod {
        order: 2;
        font-size: 17px;
        line-height: 20px;
        padding-left: 0;

        & br {
            display: none;
        }
        
    }
    .week-product__info {
        max-width: 100%;
    }
    .week-product__img {
        display: block;
        max-width: 100%;
        width: 100%;
        position: static; 
        margin-top: 25px;
    }
    .week-product__description {
        max-width:260px;
    }
    .week-product__char {
        max-width: 260px;
    }
    .week-product__button {
        max-width: 260px;
    }
  
    .week-product__price {
        width: auto;
    }
}